* {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    h1 {
        color: rgb(255, 0, 200);
        font-weight: bold;
    }

    .container-1 {
        display: grid;
        grid-template-columns: 200px 75px;
    }

    .container-2 {
        display: grid;
        grid-template-columns: 50px 1fr 75px;
    }

    .container-3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 20px;
        row-gap: 10px;
    }

    /* part 2 */

     .big-container{
            display: grid;
            grid-template-columns: 200px 200px 200px;
            column-gap: 15px;
        }
        p {
            margin-bottom: 0;
            margin-top: 0;
        }

        .container-4 {
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

        }

        .profile-pic {
            width: 200px;
            height: 200px;
            object-fit: cover;
            object-position: top;
            margin-bottom: 10px;
        }

        .mutual-friends-pic {
            width: 25px;
            height: 25px;
            border-radius: 100%;
            object-fit: cover;
            object-position: center;
        }

        .mutual-friends-box {
            display: grid;
            grid-template-columns: 30px 1fr;
            align-items: center;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        button {
            color: white;
            background-color: rgb(0, 123, 255);
            border: none;
            padding: 5px 10px;
            border-radius: 5px;
            margin-bottom: 10px;
            font-size: medium;
        }

        .profil-info-box {
            margin-left: 8px;
        }